@-webkit-keyframes error-form{
    0%{
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
    }
    33%{
        -webkit-transform: translateX(20px);
                transform: translateX(20px);
    }
    66%{
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
    }
    100%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}
@keyframes error-form{
    0%{
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
    }
    33%{
        -webkit-transform: translateX(20px);
                transform: translateX(20px);
    }
    66%{
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
    }
    100%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

*, *::before, *::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    background: #f2f2f2;
    text-transform: uppercase;
    line-height: 21px;
    position: relative;
}
.wrapper-page{
    color: #000;
    background: #FFF;
    width: 1200px;
    margin: 0px auto;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
            box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
}
.visually-hidden{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.hidden{
    display: none;
}
a{
    text-decoration: none;
}
.button{
    background: rgb(129, 179, 210);
    border: 0px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
}
.button-type-1, .button-type-1 path{
    background-color: #81b3d2;
    fill: #FFF;
}
.button-type-1:hover{
    background-color: #669ec0;
}
.button-type-1:active{
    background-color: #5496bd;
}

.button-type-1:active svg{
    opacity: 0.3;
}
.button-type-1:active{
    color: rgba(255, 255, 255, 0.3);
}
.button-type-2{
    background: #766357;
}
.button-type-2:hover{
    background: #604e43;
}
.button-type-2:active{
    background: #503e33;
}
.button-type-2:active{
    color: rgba(255, 255, 255, 0.3);
}
.link, .link path{
    color: #000;
    fill: #000;
}
.link:hover, .link:hover path{
    color: #81b3d2;
    fill: #81b3d2;
}
.link:active, .link:active path{
    color: #000;
    fill: #000;
    opacity: 0.3;
}
.header-page{
    position: relative;
}
.header-page-logo{
    position: absolute;
    left: 530px;
    top: 0px;
}
.main-nav{
    color: #000;
    background: #FFF;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}
.main-nav ul{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    padding: 14px 0px 16px 0px;
    text-align: center;
}
.main-nav li{
    width: 20%;
    text-align: left;
}
.main-nav li:nth-child(4n+1){
    margin-left: 73px;
}
.main-nav li:nth-child(4n+3){
    margin-left: auto;
    text-align: right;
}
.main-nav li:nth-child(4n+4){
    text-align: right;
    margin-right: 71px;
}
.main-nav a{
    line-height: 26px;
}
.main-nav a.active{
    color: #766357;
}
.main-page{
    text-align: center;
}
.wrapper-image{
    z-index: -1;
    padding-top: 76px;
    height: 508px;
    overflow: hidden;
    margin-bottom: 60px;
    background: url("../img/svg-sedona/intro-mask.svg") no-repeat left 0px bottom 0px,
                url("../img/background-sedona.jpg") no-repeat 0px -56px;
    background-color: #4b7ea9;
}
.wrapper-image img{
    margin-left: 1px;
}
.content-page .main-title{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    width: 460px;
    margin: 0px auto 27px auto;
}
.sedona-dignity h2{
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 51px;
    color: #333333;
}
.dignity-list{
    background: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 256px;
}
.dignity-list h3, .dignity-list h4{
    font-size: 21px;
    font-weight: bold;
    width: 151px;
    margin: 0px auto 24px auto;
}
.dignity-list h4{
    color: #000000;
}
.dignity-list > img{
    height: 100%;
}
.dignity-list.sub-list ul{
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.dignity-list.sub-list li{
    min-height: 330px;
    padding-top: 161px;
    width: 33.333%;
    position: relative;
}
.dignity-list.sub-list li::before{
    content: "";
    position: absolute;
}
.dignity-list.sub-list p{
    padding-left: 50px;
    padding-right: 50px;
    color: #333333;
}
.dignity-list.sub-list .lodging::before{
    left: 163px;
    top: 60px;
    width: 75px;
    height: 72px;
    background-image: url("../img/svg-sedona/icon-1.svg");
}
.dignity-list.sub-list .food::before{
    width: 75px;
    height: 70px;
    background-image: url("../img/svg-sedona/icon-3.svg");
    left: 163px;
    top: 61px;
}
.dignity-list.sub-list .souvenirs::before{
    width: 64px;
    height: 76px;
    background-image: url("../img/svg-sedona/icon-2.svg");
    left: 168px;
    top: 56px;
}
.dignity-list .dignity-item{
    background: #eeeeee;
    padding-top: 47px;
    width: 400px;
    min-height: 256px;
}
.dignity-item p{
    margin: 0px;
    padding-left: 68px;
    padding-right: 68px;
    margin-bottom: 20px;
    color: #333333;
}
.dignity-item h3 + p{
    margin-bottom: 21px;
}
.dignity-list .dignity-item.allotted-item{
    background: #81b3d2;
    color: #FFF;
    padding-top: 47px;
}
.dignity-item.allotted-item p{
    padding-left: 48px;
    padding-right: 48px;
    color: #FFF;
}
.content-footer{
    position: relative;
}
.content-footer .title{
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    margin: 51px 0px 23px 0px;
}
.content-footer .title + p{
    margin-bottom: 47px;
    padding: 0px 25px;
    line-height: 24px;
    color: #333333;
}
.content-footer .map-search-hotels{
    margin-bottom: -114px;
    height: 587px;
    background-image: url("../img/map.jpg");
}
.map-search-hotels iframe{
    border: none;
}
.content-footer .hotel-search-btn{
    padding: 30px;
    font-size: 21px;
    line-height: 26px;
    width: 568px;
    display: block;
    margin: 0px auto;
}
.modal-animation-wrapper{
    position: absolute;
    left: 0px;
    bottom: 587px;
}
.modal-search-param{
    left: 316px;
    top: 0px;
    position: absolute;
    z-index: 1;
    background: #FFF;
    text-align: left;
    font-weight: bold;
    width: 568px;
    padding: 55px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    line-height: 26px;
}
.modal-animation-wrapper.hidden-modal .modal-search-param{
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
}
.modal-search-param.error{
    -webkit-animation: error-form 0.2s;
            animation: error-form 0.2s;
}
.modal-search-param .data-row{
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.modal-search-param input{
    min-height: 38px;
}
.data-row input{
    width: 100%;
}
.modal-search-param label{
    width: 25%;
}
.modal-search-param .wrapper-calendar-field{
    width: 75%;
    position: relative;
}
.modal-search-param .form-button.calendar{
    position: absolute;
    right: 14px;
    top: 7px;
    width: 22px;
    height: 22px;
}
.modal-search-param .form-button{
    background: none;
    border: 0px;
    font-weight: bold;
    font-size: 20px;
    color: #a9a9a9;
}
.modal-search-param .form-button:hover{
    color: #000;
}
.modal-search-param .form-button:active{
    color: #81b3d2;
}
.modal-search-param input[type="text"]{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 4px 11px;
    background: #f2f2f2;
    border: solid 2px #f2f2f2;
    outline: 0px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 26px;
}
.modal-search-param input[type="text"]:hover{
    background: #ebebeb;
    border: solid 2px #ebebeb;
}
.modal-search-param input[type="text"]:focus{
    background: #FFF;
    border: solid 2px #e5e5e5;
}
.modal-search-param .number-people{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.number-people .wrapper-field{
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.childrens-wrapper label{
     padding-left: 52px;
}
.wrapper-field label{
    word-wrap: break-word;
    width: 50%;
}
.wrapper-field .wrapper-btn{
    width: 50%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}
.wrapper-btn .counter{
    border: 0px;
    font-weight: bold;
    font-size: 20px;
}
.wrapper-btn input{
    text-align: center;
}
.wrapper-btn .counter, .calendar path{
    color: #cacaca;
    fill: #cacaca;
}
.wrapper-btn .counter:hover, .calendar:hover path{
    color: #000;
    fill: #000;
}
.wrapper-btn .counter:active, .calendar:active path{
    color: #81b3d2;
    fill: #81b3d2;
}
.wrapper-btn  > *{
    width: 38px;
    height: 38px;
    background: #f2f2f2;
    border: solid 2px #f2f2f2;
    color: #000;
    outline: 0px;
}
.start-hotel-search-btn{
    display: block;
    width: 100%;
    margin-top: 53px;
    padding: 17px;
    font-size: 21px;
}
.main-page .footer-page{
    position: relative;
    background: rgba(255, 255, 255, 0.9);
}
.footer-page{
    background: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.footer-page > * {
    width: 33.333%;
}
.footer-page .hashtag{
    font-weight: bold;
    line-height: 26px;
    font-size: 21px;
    padding-left: 2px;
    padding-bottom: 2px;
}
.social-contact ul{
    list-style-type: none;
    margin: 0px 0px 0px 1px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.social-contact li:not(:first-child){
    padding-left: 6px;
}
.social-button{
    font-size: 0px;
    width: 46px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.social-button > *{
    margin: auto;
}
.footer-page .copyright-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.copyright-info > *{
    display: inline-block;
    vertical-align: middle;
}
.copyright-info a{
    height: 40px;
}
.copyright-info span{
    margin-right: 8px;
    margin-top: -2px;
    margin-left: 7px;
    line-height: 26px;
}
.wrapper-search-category{
    background: #4b7ea9 url("../img/filter-background.jpg") no-repeat 0px -57px;
    color: #FFF;
    padding: 27px 70px 27px 70px;
    width: 1200px;
    min-height: 217px;
}
.wrapper-search-category form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.search-category{
    padding: 0px;
    border: 0px;
}
.search-category:nth-of-type(2){
    margin-left: 117px;
}
.search-category p{
    margin: 0px;
}
.category-right-align{
    margin-left: auto;
    width: 330px;
    padding-left: 12px;
    color: #FFF;
}
.search-category.category-right-align legend{
    margin-bottom: 10px;
    margin-left: 1px;
}
.category-right-align .wrapper-field{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 0px 4px 0px;
    border: solid 2px #FFF;
    border-radius: 3px;
    position: relative;
    margin-bottom: 20px;
}
.category-right-align input{
    width: 48%;
    background: none;
    color: #FFF;
    border: 0px;
    line-height: 21px;
}
.category-right-align .min-price{
    padding-left: 65px;
}
.category-right-align .max-price{
    padding-left: 45px;
}
.category-right-align .wrapper-field:after{
    content: "";
    position: absolute;
    left: 49.9%;
    top: 15%;
    background: #FFF;
    height: 70%;
    width: 2px;
}
.category-right-align .progress-line{
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,0.3);
    position: relative;
}
.category-right-align .progress-position{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80%;
    height: 100%;
    background: #FFF;
}
.category-right-align .btn-range{
    position: absolute;
    top: -9px;
    width: 20px;
    height: 20px;
    background-image: url("../img/svg-sedona/filter-button.svg");
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}
.category-right-align .btn-range-1{
    left: 0%;
}
.category-right-align .btn-range-2{
    left: 80%;
}
.category-right-align .btn-range:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.category-right-align button{
    display: block;
    padding: 6px 2px 5px 2px;
    width: 137px;
    background: transparent;
    color: #FFF;
    border: solid 2px #FFF;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 32px 0px 0px 85px;
    line-height: 21px;
}
.category-right-align button:hover{
    background: #FFF;
    color: #000;
}
.search-category legend{
    font-weight: bold;
    font-size: 16px;
    margin-left: 0px;
    margin-bottom: 24px;
}
.search-category ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.search-category li:not(:last-child){
    margin-bottom: 25px;
}
.search-category li:last-child{
    margin-top: -1px;
}
.search-category .filter-label{
    position: relative;
    top: 1px;
    padding-left: 39px;
}
.search-category:nth-child(2) .filter-label{
    position: relative;
    padding-left: 41px;
}
.search-category .filter-label::before{
    content: "";
    position: absolute;
    z-index: 5;
    left: 0px;
    top: -2px;
    width: 27px;
    height: 23px;
    background: url("../img/svg-sedona/checkbox-off.svg") no-repeat;
}
.filter-input:checked + .filter-label::before{
    background-image: url("../img/svg-sedona/checkbox-on.svg");
}
.filter-input:disabled + .filter-label::before{
    opacity: 0.5;
}
.header-result{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 71px;
}
.header-result .result{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-result .total-count{
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.header-result .sort{
    line-height: 18px;
    margin-left: 48px;
    font-size: 12px;
    margin-top: 4px;
}
.sort-list{
    list-style-type: none;
}
.sort-list-by-category{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px;
    padding: 4px 0px 0px 0px;
    font-size: 12px;
    width: 700px;
}
.sort-list-by-category li{
    margin-left: 33px;
}
.sort-list-by-category li:nth-child(1){
    margin-left: 40px;
}
.sort-list-by-category a{
    color: #000000;
    line-height: 18px;
    border-bottom: dotted 1px #81b3d2;
    opacity: 0.3;
}
.sort-list-by-category a:hover{
    color: #81b3d2;
    opacity: 1;
    border-bottom: dotted 1px #81b3d2;
}
.sort-list-by-category a:active{
    color: #000000;
    opacity: 1;
    border-bottom: 0px;
}
.sort-list-by-category a.active{
    opacity: 1;
    color: #81b3d2;
    border-bottom: 0px;
}
.sort-list-by-value{
    width: 75px;
    height: 25px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sort-list-by-value a{
    font-size: 0px;
    height: 10px;
    border: solid 6px transparent;
}
.sort-list-by-value a:hover{
    opacity: 1;
}
.sort-list-by-value .sort-by-order-up{
    margin-top: -5px;
}
.sort-list-by-value .sort-by-order-down{
    margin-top: 4px;
}
.sort-by-order-up a{
    border-bottom: solid 10px #cacaca;
}
.sort-by-order-down a{
    border-top: solid 10px #cacaca;
}
.sort-by-order-up a:hover{
    border-bottom-color: #231F20;
}
.sort-by-order-down a:active{
    border-top-color: #231F20;
}
.sort-by-order-up a:active,
.sort-by-order-up a.active{
    border-bottom-color: #81b3d2;
}
.sort-by-order-down a:active,
.sort-by-order-down a.active{
    border-top-color: #81b3d2;
}
.hotel-item:first-of-type{
    margin-top: 1px;
    border-top: solid 1px #e5e5e5;
}
.hotel-item{
    padding: 30px 72px;
    border-bottom: solid 1px #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hotel-item .hotel-info{
    margin-left: 30px;
    min-height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.hotel-info .title{
    font-size: 21px;
    line-height: 26px;
    margin: -5px 0px 7px 0px;
}
.hotel-info .type{
    margin-bottom: 14px;
    color: #333333;
}
.hotel-info .lodging{
    display: inline-block;
    vertical-align: bottom;
    width: 112px;
}
.hotel-info .button{
    padding: 3px 17px 3px 16px;
    display: inline-block;
    vertical-align: bottom;
}
.hotel-info .button:not(:first-child){
    margin-left: 3px;
}
.hotel-item .status{
    height: 90px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.hotel-item .stars{
    background: url("../img/svg-sedona/star.svg") no-repeat right 0px top 0px,
                url("../img/svg-sedona/star.svg") no-repeat right 24px top 0px,
                url("../img/svg-sedona/star.svg") no-repeat right 48px top 0px,
                url("../img/svg-sedona/star.svg") no-repeat right 72px top 0px,
                url("../img/svg-sedona/star.svg") no-repeat right 96px top 0px;
    width: 0px;
    height: 18px;
}
.hotel-item .stars.one-star{
    width: 20px;
}
.hotel-item .stars.two-star{
    width: 45px;
}
.hotel-item .stars.three-star{
    width: 68px;
}
.hotel-item .stars.four-star{
    width: 91px;
}
.hotel-item .stars.five-star{
    width: 113px;
}
.hotel-item .rating{
    background: #f2f2f2;
    color: #666666;
    padding: 3px 13px;
}
